.cards-content {
  padding: 24px 32px;
}

.cards-category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 24px;
  margin-bottom: 40px;
}

.cards-category .category-card {
  flex: 1;
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
  border-radius: 12px;
  height: 95px;
  padding: 0px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 10px;
  border: 2px solid #ffffff;
  cursor: pointer;
}

.cards-category .category-card.active:nth-child(1) {
  border: 2px solid #1382bb;
}

.cards-category .category-card.active:nth-child(2) {
  border: 2px solid #1f613e;
}

.cards-category .category-card.active:nth-child(3) {
  border: 2px solid #54b3c6;
}

.cards-category .category-card.active:nth-child(4) {
  border: 2px solid #ee4155;
}

.cards-category .category-card .text h6 {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -1px;
  color: #8b969b;
}

.cards-category .category-card .text p {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -1px;
  color: #3d5059;
}

.cards-category .category-card .icon {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
}

.cards-category .category-card:nth-child(1) .icon {
  background-color: #c8dee966;
}

.cards-category .category-card:nth-child(2) .icon {
  background-color: #eef7f3;
}

.cards-category .category-card:nth-child(3) .icon {
  background-color: #d5e8ec52;
}

.cards-category .category-card:nth-child(4) .icon {
  background-color: #fae2e266;
}

.cards-search {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  grid-gap: 16px;
}

.cards-search input {
  flex: 1;
  padding: 0px 16px;
  height: 66px;
  width: 100%;
  display: block;
  background-color: #d7d7d852;
  border-radius: 12px;
  border: none;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -1px;
}

.cards-search input::placeholder {
  color: #9fa4a7;
}

.cards-search .dropdown {
  position: relative;
  min-width: 172px;
}

.cards-search .dropdown button {
  display: flex;
  align-items: center;
  padding: 4px 0px;
  grid-gap: 8px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 600;
  color: #627178;
  cursor: pointer;
}

.cards-search .dropdown .dropdown-options {
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
  border-radius: 12px;
  padding: 24px;
  width: 195px;
  top: calc(100% + 10px);
  right: 0;
  display: none;
  z-index: 10;
}

.cards-search .dropdown .dropdown-options.visible {
  display: block;
}

.cards-search .dropdown .dropdown-options p {
  font-weight: 400;
  font-size: 20px;
  color: #3d5059;
  margin-bottom: 8px;
}

.cards-search .dropdown .dropdown-options button {
  font-weight: 600;
  font-size: 20px;
  color: #3d5059;
  padding: 8px 0px;
  margin-bottom: 8px;
  cursor: pointer;
}

.cards-search .dropdown .dropdown-options button:last-child {
  margin-bottom: 0;
}
.cards-search .dropdown .dropdown-options button.active {
  color: #009b54;
}

.cards-table {
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
  border-radius: 12px;
  padding: 0px 24px;
}

.cards-table .header {
  border-bottom: 1.2px solid #d0d4d6;
  height: 65px;
  display: flex;
  align-items: center;
  grid-gap: 16px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: #9fa4a7;
}

.cards-table .item {
  border-bottom: 1.2px solid #d0d4d6;
  height: 72px;
  display: flex;
  align-items: center;
  grid-gap: 16px;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: -1px;
  color: #3d5059;
}

.cards-table .item:last-child {
  border-bottom: none;
}

.cards-table .header .card-name,
.cards-table .item .card-name {
  flex: 1.2;
}

.cards-table .header .card-type,
.cards-table .item .card-type {
  flex: 1;
}

.cards-table .header .account-num,
.cards-table .item .account-num {
  flex: 1;
}

.cards-table .header .date,
.cards-table .item .date {
  width: 172px;
}

.cards-table .header .status,
.cards-table .item .status {
  flex: 1;
}

.cards-table .item .status[status="Active"] {
  color: #009b54;
}

.cards-table .item .status[status="Pending"] {
  color: #f59667;
}

.cards-table .item .status[status="Declined"] {
  color: #fb5e5a;
}

.cards-table .header .action,
.cards-table .item .action {
  width: 127px;
  text-align: center;
}

.cards-table .item .action button {
  width: 127px;
  height: 48px;
  background: rgba(246, 207, 206, 0.6);
  border-radius: 8px;
  border: none;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -1px;
  color: #fc3833;
}
