@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

input,
button {
  outline: none;
  font-family: "Open Sans", sans-serif;
}

.primary-btn {
  background-color: #009b54;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.light-btn {
  background-color: #c4e3d58f;
  border: none;
  color: #009b54;
  cursor: pointer;
}

.transparent-btn {
  background-color: #ffffff;
  border: none;
  color: #009b54;
  cursor: pointer;
}
